.search-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
   width: 80%;
   gap: 20px;
   padding: 5px;
   margin:10px;
}

.search-result > * {
    flex: 1 0 20%; /* Grow and shrink as needed, start at 25% */
    /* padding: 10px; */
}

.search-result img {
    width: 240px;
    /* max-width: 200px; */
    height: auto;
    /* margin: 10px; */
}

.products{
    border: 1px solid #ccc;
    padding: 8px;
    width: 320px;
    max-width: 300px;
}

.title {
    font-size: large;
    font-weight: bold;
}

.description {
    font-size: small;
    color: rgb(123, 126, 129);
    margin-top: 8px;
}

.rating {
    font-size: small;
    color: rgb(123, 126, 129);
}

.rating {
    font-size: small;
    color: rgb(123, 126, 129);
}

.rating .fas {
    color: gold;
}

.rating .far {
    color: lightgray;
}

.search-box {
 
padding: 24px;
}